<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      WOO SHOP
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button class="cart" routerLink="/tabs/tab3">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-badge color="light" slot="end">0</ion-badge>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
