<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="card card-container">
      <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <span id="reauth-email" class="reauth-email"></span>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" required name="email" ngModel autofocus></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required name="password" ngModel></ion-input>
        </ion-item>
        <br>
        <div id="remember" class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block btn-signin"
                type="submit"
                [disabled]="loginForm.invalid || loginForm.pending">Sign in</button>
      </form><!-- /form -->
      <a href="#" class="forgot-password">
        Forgot the password?
      </a>
    </div><!-- /card-container -->
  </div><!-- /container -->
</ion-content>
